html {
    height: 100%  
}
html, body {
    overflow: auto;
}
body{
    background-color: rgb(29, 29, 29);
    background: url('./background/background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(223, 223, 223);
    margin: 0;
    padding: 3rem 3rem 2rem 3rem;
    font-family:'Montserrat', sans-serif;
    backdrop-filter: blur(10px);
    height: 100%;
    

}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
 #overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    background-color: rgba(26, 10, 2, 0.514);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 

* {
    box-sizing: border-box;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#weekHour{
    width: 100%;
    align-self: flex-end;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
#week{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.eigthHours {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


.onehour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weekday {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0px;
    align-self: flex-end;

}
.weekday > * {
    margin: 0;
}
.weekday > .temp, .hourTemp {
    font-size: 2.5rem;
    font-weight: 500;
}
.weekday > .temp_min {
    font-size: 1.5rem;
    font-weight: 200;
}
.weekday h4 {
    font-weight: 400;
}
.onehour p{
    font-weight: 500;
    font-size: 2.5rem;
}
#day{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#extra{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.extrWicon{
   max-width: 1.5rem;
}
.extraProp{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
}
.extraTextDiv p{
    font-size: 1.5rem;
    width: 50%;
}
.extraTextDiv{
    box-sizing: content-box;
    min-width: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.extraProp h3{
    font-size: 1rem;
    font-weight: 300;
} 
header{
    position: fixed;
}
#mainTemp{
    display: flex;
    align-items: center;
    gap:5px;
    font-size: 1.5rem;
}
a{
    font-size:2.3rem;
    text-decoration: none;
    margin-bottom:2px;
    color:#d1d1d1;
    text-decoration: solid underline 2px; 
}   
#hours{
    display: flex;
}
.eigthHours{
    display: flex;
    width: 100%;
}
*.hidden {
    display: none;
}
#searchDiv{
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
}
#submit{
    border: none;
    background-color: coral;
    height: 20px;
    width: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-radius: 2px 10px 2px 2px;
}
#switchCont{
    padding-bottom: 1rem;
    align-self:baseline
}
@media only screen and (max-width: 600px) {
    body{
        padding: 2rem;
    }
    #week, .eigthHours{
       flex-direction: column;
       align-content: flex-end;
    }  
    #week > *{
        width: 100%;
        display: grid;
        grid-template-columns: 3fr repeat(3, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        border-bottom: 1px solid;
    }
    #week  h4, .onehour h4{
        justify-self: left;
    }
    .onehour{ 
        display: grid;
        grid-template-columns: 3fr repeat(2, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        border-bottom: 1px solid;
    }
    .whWicon{
        width: 50px;
    }
    #searchDiv{
        display: flex;
        padding: 2rem;
        flex-wrap: nowrap;
    }
    .weekday > .temp, .onehour p {
        font-size: 1.5rem;
        font-weight: 500;
        
    }
}

@media only screen and (max-width: 800px) {
    .weekday > * {
        max-width: 8vh;
    }
    .weekday > * {
        margin: 0;
    }
    .weekday > .temp, .onehour p {
        font-size: 2rem;
        font-weight: 500;
        
    }
    .weekday > .temp_min {
        font-size: 1.5rem;
        font-weight: 200;
    }
    .weekday h4 {
        font-weight: 400;
    }
}@media only screen and (max-width: 400px) {
    .weekday > .temp, .onehour p {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .weekday > .temp_min {
        font-size: 1.5rem;
        font-weight: 200;
    }
    
}